main {
    margin-top: 70px; /* Ajuste para evitar sobreposição com a navbar fixa */
}

.bg-azul-escuro {
    background-color: #1E2A38 !important;
    color: white !important;
}

th.bg-azul-escuro{
    padding: 13px;
}

th.bg-azul-escuro:first-child{
    border-top-left-radius: 10px;
}

th.bg-azul-escuro:last-child{
    border-top-right-radius: 10px
}

.status-em-andamento {
    background-color: #20639B; /* Cor para "Em andamento" */
    color: white;
}
.status-arquivado {
    background-color: #B22222; /* Cor para "Arquivado" */
    color: white;
}
.status-finalizado {
    background-color: #2D6A4F; /* Cor para "Finalizado" */
    color: white;
}   

/* Ajuste do botão Filtrar casos */
.btn-filtrar-casos {
    background-color: #1E2A38;
    color: white;
    border-color: #1E2A38;
    height: 38px;
    white-space: nowrap;
    width: 170px !important;
}
.btn-filtrar-casos:hover {
    background-color: #2A3A4A; /* Tom mais claro para hover */
    border-color: #2A3A4A;
}

.btn-adicionar-caso{
    width: 160px !important;
    height: 38px;
}

/* Ajuste dos botões Adicionar caso e Acessar caso */
.btn-adicionar-caso, .btn-acessar-caso {
    background-color: #1A4D77;
    border-color: #1A4D77;
    color: white;
}
.btn-adicionar-caso:hover, .btn-acessar-caso:hover {
    background-color: #2A5F8A; /* Tom mais claro para hover */
    border-color: #2A5F8A;
}

@media screen and (max-width: 992px){
    .tipo-caso, .perito-caso{
        display: none;
    }
}

@media screen and (max-width: 768px){
    body{
        background-color: green;
    }

    .descricao-caso, .bi-eye-fill{
        display: none;
    }
}

@media screen and (max-width: 576px) {
    body{
        background-color: red;
    }

    .data-abertura-caso{
        display: none;
    }
    
}